nav li{
    list-style:none;
    display:inline-block;
    padding:4px 70px;
    text-align:center;
    background-color:gray;
 }


 ul{
    padding:0;
 }

 a{
    text-decoration:none;
    color:rgb(55, 0, 255);
    font-size:20px;
   }

a:hover{
    color:white;
   }

nav{
    color:silver;
    font-size:20px;
  }

  nav:hover{
    cursor:default;
  }

#contenido{
   width:1000px;
   margin:0 auto;
}

.cuadros{
   width:300px;
   border:1px lightgray solid;
   border-radius:3px;
   background-color:white;
   text-align:center;
   padding:5px 5px 22px 5px;
   box-shadow:0px 0px 4px rgb(55, 0, 255);
}